.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0;
}

.home__content {
  flex: 1;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  overflow: hidden;
}

.home__content > .top-songs {
  overflow-y: auto;
}
