.highlight {
  width: 300px;
  height: 300px;
  padding: 10px 15px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.highlight > .image {
  inset: 0;
  object-fit: cover;
  position: absolute;
}

.highlight > .quantity {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.highlight-info {
  z-index: 1;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  position: relative;
}

.highlight-info > .title {
  font-size: 18px;
  font-weight: 600;
}

.highlight-info > .subtitle {
  font-size: 12px;
  font-weight: 400;
}
